
/* General Styles */
body{
    font-family: 'Montserrat', sans-serif;
}

#title{
    background-color: #ff4c68;
    color: #fff;
}



.container-fluid{
    padding: 3% 15% 7%;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3.5em;
    line-height: 1.5;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    margin-top: .5em;
}

p{
    color: #8f8f8f;
}
/* Navigation Bar */

.navbar{
    padding: 0 0 4.5rem ;
    
}

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding:0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat-Light", sans-serif;
}

/* Download Buttons */
.download-button{
    margin:5% 3% 5% 0 ;
}

/* Title Image */
.title-img{
    width:60%;
    transform:rotate(25deg);
    position: absolute;
    right: 30%;

}

/* Feature Section */
#features{
padding: 7% 15%;
background-color: #fff;

position: relative;
}

.feature-box{
    text-align: center;
    padding: 5%;
    
}
.icon {
    color: #ef8172;
    font-size: 3rem;

}

.icon:hover{
    color: #ff4c68;
}

/* Testimonial section  */

#testimonials{
    padding: 7% 15%;
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

/* Press Section */
#press{
    text-align: center;
    background-color: #ef8172;
    padding-bottom: 3%;

}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
    padding: 100px;
    text-align: center;
}
  
.price-text {
    font-size: 3rem;
    line-height: 1.5;
}

.pricing-column {
    padding: 3% 2%;
}

/* Call to Action */

#cta{
    background-color: #ff4c68;
    color: #fff;
    text-align: center;
}

#cta .container-fluid{
    padding: 7% 15%;
}

#cta h3{
    font-size: 2rem;
}

/* Footer */
#footer{
text-align: center;
}

.social-icon{
    margin: 1%;
}

/* Mobile Styling */

@media (max-width: 1028px){

    #title{
        text-align: center;
    }

    .title-img{
        position: static;
        transform: rotate(0);
    }
}